<mat-card>
    <mat-action-list>
      <div class="container text-center">
        <h3 style="font-weight: bold;font-size: large;">Menu</h3>
        <hr>
      </div>
      <div class="container text-center">
            <button mat-list-item routerLink="/admin">
            <mat-icon mat-list-icon>home</mat-icon> Home
            </button>
            <button mat-list-item style="margin-top: 20px;" routerLink="/admin/profile">
                <mat-icon mat-list-icon>account_circle</mat-icon> Profile
            </button>
            <button mat-list-item style="margin-top: 20px;" routerLink="/admin/categories">
                <mat-icon mat-list-icon>list</mat-icon> Category
            </button>
            <button mat-list-item style="margin-top: 20px;" routerLink="/admin/addcategory">
                <mat-icon mat-list-icon>add_circle</mat-icon> Add Category
            </button>
            <button mat-list-item style="margin-top: 20px;" routerLink="/admin/quiz">
                <mat-icon mat-list-icon>quiz</mat-icon> Quizzes
            </button>
            <button mat-list-item style="margin-top: 20px;" routerLink="/admin/addquiz">
                <mat-icon mat-list-icon>add</mat-icon> Add Quizzes
            </button>
            <button 
            (click)= "logout()"    
                mat-list-item style="margin-top: 20px;" routerLink="/login">
                <mat-icon mat-list-icon>logout</mat-icon> Logout
            </button>

      </div>
      
    </mat-action-list>
  </mat-card>
  